.bg {
    background-image: url("/src/assets/bg-login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}