.login-box {
  width: 100%;
  height: 100vh;

  background-image: url("/src/assets/bg-login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
}

.social-button {
  flex: 1;
  margin: 0 5px;
}
